<div class="relative w-full min-h-[40rem] text-xs md:text-sm xl:text-base">

  <img src="/Images/heroImg.jpg" alt="Background" class="z-0 absolute inset-0 w-full h-full object-cover" />
  <!-- Overlay -->
  <div class="z-10 absolute inset-0 bg-black/60"></div>

  <!-- Content -->
  <div class="z-20 relative flex items-center mx-auto px-4 py-28 lg:py-36 h-full container">
    <div class="max-w-xl text-white">
      <div class="space-y-4">
        <h1 class="font-bold text-neutral-100 text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl leading-tight">
          Organic Farming
          <span class="relative text-accentGreen">
            and Agriculture
          </span>
        </h1>
        <p class="max-w-2xl text-neutral-200 text-base md:text-lg xl:text-xl leading-relaxed">
          A successful middle-sized farm may generate gross revenue in the range of $500,000 to $5 million annually, depending on the scale and type of operations.
        </p>
      </div>
      <div class="flex sm:flex-row flex-col gap-4 mt-10">
        <a href="/create" class="inline-flex justify-center items-center bg-accentGreen hover:bg-primaryGreen shadow-lg hover:shadow-xl px-8 py-3 rounded-lg font-semibold text-neutral-100 transition-all duration-200">
          Discover Our Solutions
        </a>
        <a href="/create" class="inline-flex justify-center items-center bg-transparent hover:bg-accentGreen px-8 py-3 border-2 border-neutral-300 hover:border-none rounded-lg font-semibold text-neutral-200">
          Unlock Your Potential
        </a>
      </div>
    </div>
  </div>
</div>