<div class="gap-6 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 mt-6">

  <!-- Halal Trial -->
  <%- include("./_planCardWithImage", {
    title: "Halal Trial (NEW)",
    rate: "0.8%",
    duration: "365 Days",
    minDeposit: "$100 USD",
    maxDeposit: "$500 USD",
    roi: "292%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $100 USD. Your potential return on investment (ROI) is $192 USD, leading to a total payout of $292 USD after 365 Days.",
    image: "/Images/halal.png"
  }) %>

  <!-- Halal Step 1 -->
  <%- include("./_planCardWithImage", {
    title: "Halal Step 1",
    rate: "7%",
    duration: "365 Days",
    minDeposit: "$500 USD",
    maxDeposit: "$10,000 USD",
    roi: "2555%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $500 USD. Your potential return on investment (ROI) is $12,275 USD, leading to a total payout of $12,775 USD after 365 Days.",
    image: "/Images/halal.png"
  }) %>

  <!-- Halal Step 2 -->
  <%- include("./_planCardWithImage", {
    title: "Halal Step 2",
    rate: "1.5%",
    duration: "100 Days",
    minDeposit: "$5,000 USD",
    maxDeposit: "$100,000 USD",
    roi: "150%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $5,000 USD. Your potential return on investment (ROI) is $2,500 USD, leading to a total payout of $7,500 USD after 100 Days",
    image: "/Images/halal.png"
  }) %>

  <!-- Halal Step 3 -->
  <%- include("./_planCardWithImage", {
    title: "Halal Step 3",
    rate: "10%",
    duration: "30 Days",
    minDeposit: "$500,000 USD",
    maxDeposit: "$1,000,000 USD",
    roi: "300%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $500,000 USD. Your potential return on investment (ROI) is $1,000,000 USD, leading to a total payout of $1,500,000 USD after 30 Days.",
    image: "/Images/halal.png"
  }) %>

</div>
